@model MixingAnaliticData

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2">Отчёт на основе анализа параметров смешивания компонентов</h3>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th style="width: 20%;"></th>
            <th style="width: 20%;">Средний показатель</th>
            <th style="width: 20%;">Максимальный показатель</th>
            <th style="width: 20%;">Минимальный показатель</th>
            <th style="width: 20%;">Количество ошибок</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="width: 20%;"><b>Температура смеси</b></td>
            <td style="width: 20%;">@Model.MediumTemperatureMixture</td>
            <td style="width: 20%">@Model.MaxTemperatureMixture</td>
            <td style="width: 20%">@Model.MinTemperatureMixture</td>
            <td style="width: 20%">@Model.CountErrorsTemperatureMixture</td>
        </tr>
        <tr>
            <td style="width: 20%;"><b>Скорость смешивания</b></td>
            <td style="width: 20%;">@Model.MediumSpeed</td>
            <td style="width: 20%">@Model.MaxSpeed</td>
            <td style="width: 20%">@Model.MinSpeed</td>
            <td style="width: 20%">@Model.CountErrorsSpeed</td>
        </tr>
        <tr>
            <td colspan="5" class="text-center"><b>Среднее время работы до ошибок</b></td>
        </tr>
        <tr>
            <td colspan="5" class="text-center">@Model.AverageOperatingTimeBeforeFailure</td>
        </tr>
        </tbody>
    </table>
</div>